.check-box .box {
    -fx-background-color: transparent;
    -fx-pref-height: 16px;
    -fx-pref-width: 16px;
    -fx-border-width: 2px;
    -fx-border-color: #979797;
}

.check-box:selected .box {
    -fx-background-color: #00b4d5;
    -fx-pref-height: 16px;
    -fx-pref-width: 16px;
    -fx-border-color: transparent;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em; /* 4 -- this is half the size of the mark */
    -fx-shape: "M5.6,11.1L0,5.6L1.1,4.4L5.6,7.8L14.4,0L15.6,1.1L5.6,11.1"; /*SVG path*/
}