.button:focused {
    -fx-opacity: 1.0;
    -fx-border-color: #00b4d5;
    -fx-border-radius: 2.0;
}

.button:hover {
    -fx-opacity: 1.0;
}

.button:disabled {
    -fx-opacity: 0.5;
}

.light-button:focused{
    -fx-opacity: 1.0;
    -fx-border-color: transparent;
}

.light-button{
    -fx-opacity: 1.0;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-text-fill: #8c97a1;
    -fx-font-family: "Tahoma";
    -fx-font-weight: normal;
    -fx-font-size: 12px;
}

.turn-on-button {
    -fx-opacity: 1.0;
    -fx-text-fill: #222222;
    -fx-font-family: "Tahoma";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #00b4d5;
}