.text-area .content {
    -fx-background-color: rgb(247, 247, 247);
    -fx-background-radius: 3px;
	-fx-padding: 5px;
}

.text-area, .text-area .viewport {
    -fx-background-color: transparent ;
    -fx-border-color: rgb(215, 223, 229);
    -fx-border-radius: 3px;
}

.text-area:hover {
	-fx-border-radius: 3px;
    -fx-border-color: rgb(140, 151, 161);
}

.text-area:focused {
    -fx-background-color: transparent, white, transparent, white;
    -fx-border-color: rgb(0, 180, 213);
    -fx-border-radius: 3px;
}

.required {
    -fx-border-color: rgb(208, 2, 27);
    -fx-border-opacity: 1;
    -fx-prompt-text-fill: rgb(208, 2, 27);
}

.required:focused {
    -fx-border-color: rgb(175, 0, 22);  
    -fx-border-opacity: 0.8;
    -fx-prompt-text-fill: transparent;
}
.required:focused:hover {
    -fx-border-color: rgb(175, 0, 22);  
    -fx-border-opacity: 0.8;
    -fx-prompt-text-fill: transparent;
}

.required:hover {
    -fx-border-color: rgb(175, 0, 22);
    -fx-border-opacity: 0.8;
    -fx-prompt-text-fill:  rgb(208, 2, 27);
}

.read-only {
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 7.0, 0, 0, 0;
    -fx-background-color: white;
    -fx-border-color: white;
	-fx-border-radius: 3px;
}

.read-only:hover {
   -fx-background-insets: 0.0;
   -fx-background-radius: 0.0;
   -fx-padding: 7.0, 0, 0, 0;
   -fx-background-color: white;
   -fx-border-color: white;
   -fx-border-radius: 3px;
}

.read-only:focused {
   -fx-background-insets: 0.0;
   -fx-background-radius: 0.0;
   -fx-padding: 7.0, 0, 0, 0;
   -fx-background-color: white;
   -fx-border-color: white;
   -fx-border-radius: 3px;
}

.read-only:disabled {
   -fx-background-insets: 0.0;
   -fx-background-radius: 0.0;
   -fx-padding: 7.0, 0, 0, 0;
   -fx-background-color: white;
   -fx-border-color: white;
   -fx-border-radius: 3px;
}
